workflows/main_workflow.json
{
  "name": "n8n-supabase-ai-pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "food-log",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2560,
        496
      ],
      "id": "38096f4c-9ff4-43c3-b63b-abe073f871f2",
      "name": "Webhook2",
      "webhookId": "9ce84f72-49e0-4a96-9f04-dea2c913ab0d"
    },
    {
      "parameters": {
        "jsCode": "const rawContent = $json.choices[0].message.content;\nconst aiData = JSON.parse(rawContent);\nconst originalInput = $(\"Webhook2\").first().json.body;\n\nconst cleanIntent = aiData.intent ? aiData.intent.trim() : 'update_preferences';\nconst data = aiData.data || {};\n\n// CORREÇÃO 1: Extrair o objeto macros que está DENTRO de data\nconst macros = data.macros || { protein: 0, carbs: 0, fat: 0 };\n\nlet sqlQuery = \"\";\nlet tableName = \"\";\n\nif (cleanIntent === 'feedback') {\n    sqlQuery = `INSERT INTO ai_learning (user_id, bad_experience, topic) VALUES ('${originalInput.user_id}', '${data.feedback_content || \"Feedback genérico\"}', 'Feedback Negativo') RETURNING id;`;\n    tableName = \"ai_learning\";\n\n} else if (cleanIntent === 'planning') {\n    sqlQuery = `INSERT INTO workout_plans (user_id, plan_structure, active) VALUES ('${originalInput.user_id}', '${JSON.stringify(data)}', true) RETURNING id;`;\n    tableName = \"workout_plans\";\n\n} else {\n    const equipment = JSON.stringify(data.available_equipment || [\"Peso do corpo\"]);\n    const dislikedEx = JSON.stringify(data.disliked_exercises || []);\n    const dislikedFood = JSON.stringify(data.disliked_foods || []);\n    \n    sqlQuery = `\n        INSERT INTO user_preferences (user_id, goal, injuries, available_equipment, disliked_exercises, disliked_foods) \n        VALUES ('${originalInput.user_id}', '${data.goal}', '${data.injuries}', '${equipment}', '${dislikedEx}', '${dislikedFood}')\n        ON CONFLICT (user_id) \n        DO UPDATE SET \n            goal = EXCLUDED.goal,\n            injuries = EXCLUDED.injuries,\n            available_equipment = EXCLUDED.available_equipment,\n            disliked_exercises = EXCLUDED.disliked_exercises,\n            disliked_foods = EXCLUDED.disliked_foods;\n    `;\n    tableName = \"user_preferences\";\n}\n\nreturn [\n  {\n    json: {\n      user_id: originalInput.user_id,\n      intent: cleanIntent,            \n      reply_message: aiData.reply_message,       \n      generated_sql: sqlQuery,\n      target_table: tableName,\n      data: data,\n      processed_json: JSON.stringify(aiData), \n      calories: data.calories || 0,\n      protein: macros.protein || 0,\n      carbs: macros.carbs || 0,\n      fat: macros.fat || 0\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        496
      ],
      "id": "7ea46ada-ba21-43c4-8b4d-ab8d7c15fdef",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "tableId": "food_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $node[\"Webhook2\"].json[\"body\"][\"user_id\"] }}"
            },
            {
              "fieldId": "raw_text",
              "fieldValue": "={{$node[\"Webhook2\"].json[\"body\"][\"message\"]}}"
            },
            {
              "fieldId": "calories",
              "fieldValue": "={{ $json[\"calories\"] }}"
            },
            {
              "fieldId": "protein",
              "fieldValue": "={{ Math.round($json[\"macros\"][\"protein\"]) }}"
            },
            {
              "fieldId": "carbs",
              "fieldValue": "={{ Math.round($json[\"macros\"][\"carbs\"]) }}"
            },
            {
              "fieldId": "fat",
              "fieldValue": "={{ Math.round($json[\"macros\"][\"fat\"]) }}"
            },
            {
              "fieldId": "processed_json",
              "fieldValue": "={{ $json.processed_json }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        64,
        416
      ],
      "id": "041019f3-afa1-4e54-a3fd-d33235b1e14e",
      "name": "Create a row4",
      "credentials": {
        "supabaseApi": {
          "id": "8qSScF1sa6bQ521y",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  (() => {\n    const aiNode = $(\"Code in JavaScript2\").first(); \n    let msg = aiNode ? aiNode.json.reply_message : \"Processado.\";\n    \n    // Pega os dados brutos do input\n    const log = $json;\n\n    // TRUQUE: Tenta fazer o parse do processed_json se ele for string\n    let parsedData = {};\n    try {\n        parsedData = typeof log.processed_json === 'string' \n            ? JSON.parse(log.processed_json) \n            : log.processed_json;\n    } catch(e) { parsedData = {}; }\n\n    // Garante que temos números válidos para enviar ao frontend\n    // Prioridade: Dados diretos do banco > Dados do JSON processado > 0\n    const finalLog = {\n        ...log,\n        calories: Number(log.calories || parsedData?.data?.calories || 0),\n        protein: Number(log.protein || parsedData?.data?.macros?.protein || 0),\n        carbs: Number(log.carbs || parsedData?.data?.macros?.carbs || 0),\n        fat: Number(log.fat || parsedData?.data?.macros?.fat || 0)\n    };\n\n    return {\n      \"message\": msg, // Manda só a mensagem limpa, o front cria o card\n      \"saved_log\": finalLog, // Manda o objeto corrigido\n      \"agent\": \"Agente Baseado em Estados\"\n    }\n  })()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        272,
        416
      ],
      "id": "f6d96220-2f54-4dd5-b8b7-78e4ba866338",
      "name": "Respond to Webhook12"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "nutrition",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d2edb468-0626-4cda-8528-8ec8cc97e63c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3f587364-6965-4b6c-a5bf-70835940156a",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "workout",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5531c4fe-c22a-4057-8bf4-47cec6fc752d",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "update_preferences|planning|feedback",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -320,
        480
      ],
      "id": "f8c04892-e1cb-4989-bfdf-1ca788f1bec8",
      "name": "Switch4"
    },
    {
      "parameters": {
        "tableId": "workout_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "workout_day",
              "fieldValue": "={{ $json.workout_day }}"
            },
            {
              "fieldId": "exercises_performed",
              "fieldValue": "={{ $json.exercises }}"
            },
            {
              "fieldId": "feedback",
              "fieldValue": "={{ $json.modifications }}"
            },
            {
              "fieldId": "calories_burned",
              "fieldValue": "={{ $json.calories_burned }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        64,
        592
      ],
      "id": "21eab0f2-642c-481f-ba69-084eb17f2c3c",
      "name": "Create a row5",
      "credentials": {
        "supabaseApi": {
          "id": "8qSScF1sa6bQ521y",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"message\": $(\"Code in JavaScript2\").first().json.reply_message,\n    \"saved_log\": $json,\n    \"agent\": \"Agente Baseado em Estados\"\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        272,
        592
      ],
      "id": "9d74c8bb-f66a-4c5f-9775-1d2cff5468c3",
      "name": "Respond to Webhook13"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -704,
        496
      ],
      "id": "53a74d61-5d8c-45d1-a537-3d3f204e24ce",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "NN7fipjeXvsMbUbm",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"message\": $(\"Code in JavaScript2\").first().json.reply_message,\n    \"saved_log\": $json,\n    \"agent\": \"Agente Baseado em Estados\"\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        272,
        784
      ],
      "id": "93f6d356-d8a0-478b-ab2b-7063f5648af3",
      "name": "Respond to Webhook14"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.generated_sql }}",
        "options": {
          "queryReplacement": "={{ [ \n  $json.user_id, \n  $json.goal || \"Não definido\", \n  $json.injuries || \"\", \n  JSON.stringify($json.disliked_foods || []), \n  JSON.stringify($json.disliked_exercises || []) \n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        784
      ],
      "id": "1a7caff7-70c4-48b3-bb93-d2ccb6be9954",
      "name": "Execute a SQL query4",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "GIiIWbYeYhWBCeY8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.choices[0].message.content }}",
                    "rightValue": "EMERGENCY",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "e69f4f23-744e-4c0a-9a93-238d23cbaef9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7993ae64-879c-401e-aa93-9ccdfd5d931a",
                    "leftValue": "={{ $json.choices[0].message.content }}",
                    "rightValue": "NORMAL",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d712b985-0523-46ca-9a71-cd4617977410",
                    "leftValue": "={{ $json.choices[0].message.content }}",
                    "rightValue": "PLANNING",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3166e0ec-6f77-42ab-8fd3-5b39a7bff043",
                    "leftValue": "={{ $json.choices[0].message.content }}",
                    "rightValue": "FEEDBACK",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1904,
        480
      ],
      "id": "e3473ac5-a0c2-472c-9103-06327f41d612",
      "name": "Switch5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"Detectamos um possível caso de emergência médica. Como uma IA, não posso ajudar.\",\n  \"agent\": \"Agente Reflexivo Simples\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -960,
        336
      ],
      "id": "4b4b6dec-34ee-4594-9b8d-cf282cc1a860",
      "name": "Respond to Webhook15"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -688,
        768
      ],
      "id": "dfa77069-cf92-4392-b802-2d95c661a70d",
      "name": "Agente Planner2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "NN7fipjeXvsMbUbm",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prefsNode = $(\"Get Preferences5\").first(); \nconst prefs = prefsNode ? prefsNode.json : {};\nconst userMsg = $(\"Webhook2\").first().json.body.message;\nconst roteadorOutput = $(\"Prepara Roteador2\").first().json || {}; \nconst roteadorData = roteadorOutput.payload || {}; \n\nconst plannerPrompt = `Você é um Agente Planejador de Saúde (Planner).\nDiferente de um personal comum, você não prescreve treinos soltos. Você cria ESTRATÉGIAS de longo prazo.\n\nSUA MISSÃO:\n1. Analise o Estado Inicial ($start) e o Objetivo Final ($goal).\n2. Use \"Chain of Thought\": Descreva mentalmente os passos necessários para reduzir a distância entre eles a zero.\n3. Gere um plano estruturado em fases/semanas.\n\nCONTEXTO DO USUÁRIO:\n- Objetivo: ${prefs.goal || \"Melhorar saúde\"}\n- Lesões: ${prefs.injuries || \"Nenhuma\"}\n- Equipamentos: ${JSON.stringify(prefs.available_equipment || [])}\n\nSCHEMA DE RESPOSTA (JSON):\n{\n  \"chain_of_thought\": \"Explique seu raciocínio aqui...\",\n  \"project_name\": \"Nome criativo do projeto (ex: Projeto Verão 30 Dias)\",\n  \"steps\": [\n    {\n      \"phase\": \"Semana 1\",\n      \"focus\": \"Adaptação\",\n      \"actions\": [\"...\"]\n    }\n  ]\n}`;\n\nreturn { json: { payload: {\n  model: \"llama-3.3-70b-versatile\",\n  messages: [\n    { role: \"system\", content: plannerPrompt },\n    { role: \"user\", content: `Crie o plano para: \"${userMsg}\"` }\n  ],\n  response_format: { type: \"json_object\" }\n} } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        752
      ],
      "id": "16cd4fc3-e59a-4571-8293-f9e84c125089",
      "name": "Prepara Planner2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  (() => {\n    const rawContent = $json.choices[0].message.content;\n    const data = JSON.parse(rawContent);\n\n    return {\n      \"message\": \"🗺️ Planejamento Baseado em Objetivos:\\n\\n\" + \n      \"🧠 Chain of Thought: \" + data.chain_of_thought + \"\\n\\n\" +\n      data.steps.map(s => \"📅 \" + s.phase + \" (\" + s.focus + \"): \" + s.actions.join(\", \")).join(\"\\n\"),\n      \n      \"agent\": \"Agente Baseado em Objetivos\"\n    }\n  })()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -480,
        800
      ],
      "id": "c24b3b6e-d5a7-4051-a4a7-ba95e69c772b",
      "name": "Respond to Webhook16"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_learning (user_id, bad_experience)\nVALUES ($1, $2);",
        "options": {
          "queryReplacement": "={{ [\n  $node[\"Webhook2\"].json.body.user_id, \n  $node[\"Webhook2\"].json.body.message \n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -944,
        992
      ],
      "id": "6b45537f-3c28-46d2-873e-c4d3758b14ea",
      "name": "Execute a SQL query5",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "GIiIWbYeYhWBCeY8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"message\": \"🫡 Feedback processado! Salvei essa experiência no meu Banco de Episódios. Na próxima interação, ajustarei meu comportamento.\",\n    \"status\": \"learned\",\n    \"agent\": \"Agente que Aprende\"\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -720,
        992
      ],
      "id": "18ffa60f-303a-44f8-b14b-32d23844c5b7",
      "name": "Respond to Webhook17"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_preferences",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $node[\"Webhook2\"].json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1408,
        496
      ],
      "id": "6cbcec0e-ebd5-4382-83a5-c3c41264dfdd",
      "name": "Get Preferences4",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "8qSScF1sa6bQ521y",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "workout_plans",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $node[\"Webhook2\"].json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1232,
        496
      ],
      "id": "86feb03b-d094-4937-9e83-b75f69bd27d9",
      "name": "Get Workout Plan2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "8qSScF1sa6bQ521y",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- 1. FUNÇÕES UTILITÁRIAS ---\nfunction getSafeJson(nodeName) {\n    try {\n        const node = $(nodeName).first();\n        return (node && node.json) ? node.json : {};\n    } catch (e) { return {}; }\n}\n\nfunction getCurrentDateInfo() {\n    const now = new Date();\n    const options = { timeZone: 'America/Sao_Paulo', weekday: 'long', hour: '2-digit', minute: '2-digit' };\n    return now.toLocaleString('pt-BR', options);\n}\n\n// --- 2. COLETA DE DADOS (CONTEXTO) ---\nconst prefs = getSafeJson(\"Get Preferences4\"); \nconst plan = getSafeJson(\"Get Workout Plan2\"); \nconst webhookData = $(\"Webhook2\").first().json.body || {};\nconst userMsg = webhookData.message || \"\"; \nconst timeContext = getCurrentDateInfo();\n\n// Recuperação de Memórias\nlet memories = [];\ntry {\n    const learningNode = $(\"Get Learning2\").first();\n    if ($(\"Get Learning2\").all().length > 0) {\n         const rawMemories = $(\"Get Learning2\").all().map(item => item.json.bad_experience).filter(Boolean);\n         memories = [...new Set(rawMemories)]; \n    }\n} catch (error) { memories = []; }\n\n// --- 3. CONSTRUÇÃO DO PROMPT DO SISTEMA ---\nconst systemPrompt = `\nVocê é a IA Principal do Health AI (Nutricionista Esportivo & Treinador de Alta Performance).\nSua missão é gerenciar a rotina do usuário cruzando INPUT ATUAL + CONTEXTO DO BANCO DE DADOS.\n\n🕒 Contexto Temporal: ${timeContext}\n\n---\n🧠 REGRAS DE RACIOCÍNIO (Chain of Thought):\nAntes de gerar a resposta final, analise internamente:\n1. O usuário tem lesões que conflitam com o pedido?\n2. O exercício pedido está na lista de \"Memórias de Dor\"?\n3. **REGRA DE NUTRIÇÃO:** Se o usuário informar comida, você DEVE estimar os macros (não retorne 0). Use média padrão: \n   - Frango/Carne (100g): ~30g Prot, 0g Carb\n   - Arroz/Macarrão (100g): ~28g Carb, 2g Prot\n\n---\n📋 SCHEMA DE RESPOSTA (JSON OBRIGATÓRIO):\nResponda APENAS um objeto JSON válido:\n\n{\n  \"intent\": \"nutrition\" | \"workout\" | \"feedback\" | \"update_preferences\",\n  \"raciocinio\": \"Explique sua decisão ou cálculo.\",\n  \"reply_message\": \"Texto amigável e formatado. Cite os totais calculados no texto.\",\n  \"data\": {\n    // SE FOR NUTRIÇÃO:\n    \"food_name\": \"Resumo (ex: 150g frango + arroz)\",\n    \"calories\": 0, // Inteiro\n    \"macros\": { \"protein\": 0, \"carbs\": 0, \"fat\": 0 },\n    \n    // SE FOR TREINO:\n    \"workout_day\": \"A\" | \"B\" | \"C\",\n    \"exercises\": [],\n    \"modifications\": \"...\"\n  }\n}\n\n---\n📝 EXEMPLOS CORRETOS (Few-Shot):\n\nEx 1 (Nutrição):\nInput: \"Comi 150g de frango e 200g de arroz\"\nOutput:\n{\n  \"intent\": \"nutrition\",\n  \"raciocinio\": \"150g frango = 45g prot. 200g arroz = 56g carb. Total ~420kcal.\",\n  \"reply_message\": \"🍽️ Registrado! Refeição com aprox **420kcal**.\\\\n\\\\n📊 **Macros:**\\\\n- Prot: 45g\\\\n- Carb: 56g\",\n  \"data\": { \n     \"food_name\": \"150g de frango e 200g de arroz\", \n     \"calories\": 420, \n     \"macros\": { \"protein\": 45, \"carbs\": 56, \"fat\": 5 } \n  }\n}\n\n---\n🛡️ DIRETRIZES DE SEGURANÇA E ADAPTAÇÃO:\n1. Lesões e Dores: Se o usuário relatar dor, substitua por biomecânica segura.\n2. Equipamentos: Limite ao 'available_equipment'.\n\n---\n📂 CONTEXTO DINÂMICO DO USUÁRIO:\n- Objetivo Principal: ${prefs.goal || \"Saúde Geral\"}\n- Lesões/Restrições: ${prefs.injuries || \"Nenhuma registrada\"}\n- Equipamentos: ${JSON.stringify(prefs.available_equipment || [\"Peso do corpo\"])}\n- Treino Atual: ${plan.plan_structure ? JSON.stringify(plan.plan_structure) : \"Nenhum plano ativo.\"}\n- Memória de Dor: ${memories.length > 0 ? JSON.stringify(memories) : \"Nenhuma.\"}\n`;\n\nconst promptContexto = `INPUT DO USUÁRIO: \"${userMsg}\"`;\n\n// --- 4. RETORNO DO PAYLOAD ---\nreturn { \n    json: { \n        payload: { \n            model: \"llama-3.3-70b-versatile\", \n            messages: [\n                { role: \"system\", content: systemPrompt },\n                { role: \"user\", content: promptContexto }\n            ], \n            response_format: { type: \"json_object\" },\n            temperature: 0.2 \n        } \n    } \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        496
      ],
      "id": "96463380-a32a-4ae5-8df3-9600196e782a",
      "name": "Preparar Prompt2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2144,
        496
      ],
      "id": "5154856a-37fc-41bc-a4ed-e5d7396b9e48",
      "name": "Roteador IA2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "NN7fipjeXvsMbUbm",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_preferences",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $node[\"Webhook2\"].json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1184,
        704
      ],
      "id": "3946918c-9474-483e-912f-d61537a4aca7",
      "name": "Get Preferences5",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "8qSScF1sa6bQ521y",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const userMsg = $(\"Webhook2\").first().json.body.message;\n\nconst systemPrompt = `Você é o Classificador de Intenções do sistema Health AI.\nSua função é rotear a mensagem para UM de 4 agentes especializados.\n\n🚨 **HIERARQUIA DE PRIORIDADE (IMPORTANTE):**\n1. Se houver **EMERGÊNCIA MÉDICA** -> Rota EMERGENCY.\n2. Se houver **DOR DE TREINO**, **DESCONFORTO**, **RECLAMAÇÃO** ou **FEEDBACK NEGATIVO** -> Rota FEEDBACK (Prioridade sobre NORMAL).\n3. Se pedir **PLANEJAMENTO** de longo prazo -> Rota PLANNING.\n4. Se for interação comum -> Rota NORMAL.\n\n---\nDEFINIÇÃO DAS ROTAS:\n\n1. EMERGENCY (Vida ou Morte):\n   - Infarto, desmaio, falta de ar grave.\n   - ⚠️ Dor no joelho, ombro ou músculo NÃO é emergency.\n\n2. FEEDBACK (Agente que Aprende - Memória):\n   - O usuário relata uma experiência ruim ou dor específica em um exercício.\n   - Gatilhos: \"Não gostei\", \"Doeu\", \"Me machucou\", \"Odeio\", \"Tira esse exercício\", \"Senti desconforto\".\n   - ⚠️ ATENÇÃO: Mesmo que o usuário implichi que quer trocar o treino (ex: \"Doeu, muda pra mim\"), a intenção primária é o FEEDBACK da dor. O sistema precisa aprender isso antes de trocar.\n\n3. PLANNING (Agente Planejador):\n   - Projetos de longo prazo, cronogramas (\"plano de 8 semanas\").\n\n4. NORMAL (Agente de Estado):\n   - Nutrição (\"comi frango\").\n   - Dúvidas (\"como faz supino?\").\n   - Ações neutras (\"mude meu peso\", \"registre o treino\").\n\n---\nEXEMPLOS (FEW-SHOT):\n- \"Estou infartando\" -> EMERGENCY\n- \"Meu joelho doeu no agachamento\" -> FEEDBACK\n- \"Não gostei do Agachamento Búlgaro, senti dor\" -> FEEDBACK\n- \"Odeio fazer barra fixa, troca\" -> FEEDBACK\n- \"Senti uma pontada no ombro fazendo elevação\" -> FEEDBACK\n- \"Quero um plano de 4 semanas\" -> PLANNING\n- \"Comi 200g de arroz\" -> NORMAL\n- \"Mude meu treino para ABC\" -> NORMAL\n- \"Qual o treino de hoje?\" -> NORMAL\n\nSAÍDA OBRIGATÓRIA:\nApenas a palavra em maiúsculo (EMERGENCY, FEEDBACK, PLANNING ou NORMAL).`;\n\nreturn {\n  json: {\n    payload: {\n      model: \"llama-3.3-70b-versatile\",\n      messages: [\n        { role: \"system\", content: systemPrompt },\n        { role: \"user\", content: userMsg }\n      ],\n      temperature: 0 \n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2352,
        496
      ],
      "id": "88ed09a9-736b-49d5-b4b1-ecda01cef191",
      "name": "Prepara Roteador2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT bad_experience FROM ai_learning WHERE user_id = $1",
        "options": {
          "queryReplacement": "={{ [ $node[\"Webhook2\"].json.body.user_id ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1072,
        496
      ],
      "id": "15f45783-5348-44b3-b5e3-0f4f0ac0acb1",
      "name": "Get Learning2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "GIiIWbYeYhWBCeY8",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook2": {
      "main": [
        [
          {
            "node": "Prepara Roteador2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row4": {
      "main": [
        [
          {
            "node": "Respond to Webhook12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Create a row4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row5": {
      "main": [
        [
          {
            "node": "Respond to Webhook13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query4": {
      "main": [
        [
          {
            "node": "Respond to Webhook14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Respond to Webhook15",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Preferences4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Preferences5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Planner2": {
      "main": [
        [
          {
            "node": "Respond to Webhook16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Planner2": {
      "main": [
        [
          {
            "node": "Agente Planner2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query5": {
      "main": [
        [
          {
            "node": "Respond to Webhook17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Preferences4": {
      "main": [
        [
          {
            "node": "Get Workout Plan2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workout Plan2": {
      "main": [
        [
          {
            "node": "Get Learning2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteador IA2": {
      "main": [
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Preferences5": {
      "main": [
        [
          {
            "node": "Prepara Planner2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Roteador2": {
      "main": [
        [
          {
            "node": "Roteador IA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Learning2": {
      "main": [
        [
          {
            "node": "Preparar Prompt2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "88519280-cf7e-4de2-a0d4-a0288f82c4bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dff924f1dadf19cdc0ca000ecf3e11d51e2e669c8ea619cbae2a330e395d2cb4"
  },
  "id": "25XhaK4LgfXJ3ChSHq8oZ",
  "tags": []
}